<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <h3>Errors: </h3>
      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  <% end %>

  <div >
    <%= f.label :vendor %><br />
    <%= f.select :vendor_id, Vendor.all.collect {|p| [p.name, p.id]} %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name , :id => "service_name" %>
    <span id='service_name_error' style="display:none;"><font color="red" size="1"> <br>Please enter a name for the service</br></font></span>
	<font color="red" size="1"><%= @service.errors[:name].first %></font>
  </div>
  <div class="actions" >
    <%= f.submit %>

  </div>
<% end %>
<script>
$('.actions').on('click',function() {
	if ($("#service_name").val() == '' || $("#service_name").val() == null) {
		$("#service_name_error").show();
		return false;
	}
	return true;            
});
</script>
