<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <h3>Errors: </h3>
      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  <% end %>

  <div >
    <%= f.label :vendor %><br />
    <%= f.select :vendor_id, Vendor.all.collect {|p| [p.name, p.id]} %>
  </div>
  <div class="field">
    <%= f.label :name %><font color="red"> *</font><br />
    <%= f.text_field :name , :id => "service_name" %> 
    <br/><span id="service_name_error" style="display:none;"></span>
    <font color="red" size="1"><%= @service.errors[:name].first %></font>
  </div>
  <div class="actions" >
    <%= f.submit %>
  </div>
<% end %>

<script>
$('.actions').on('click',function() {
  var passedValidation = false;
  if($("#service_name").val() == '' || ($("#service_name").val() == null)){
    $("#service_name_error").show();
    $("#service_name_error").html("<font color='red' size='1'>Please enter a service name</font>");
    passedValidation = true;
    return false;
  }
  
  var service_name = $("#service_name").val();
  var vendor_id = $("#service_vendor_id").val();
  $.ajax("service/validate/?service_name="+service_name+"&vendor_id="+vendor_id, {
    async: false,
    success: function(result){
      if(result == "") {
        passedValidation = true;
      } else {
        $("#service_name_error").show();
        $("#service_name_error").html("<font color='red' size='1'>"+result+"</font>");
      }
    }
  });
  return passedValidation;
});
</script>
