<!-- Services -->

<span class="tag-title">Services <% if Vendor.all.present? %><%= link_to image_tag("/assets/icons/add.png"), new_service_path, :data => { :colorbox => true, :colorbox_height =>'400px', :colorbox_width =>'400px'}, class: "link-btn" , :title=>"Add Service" %><% end %></span>

<% if @empty_service %>
	<br/><br/><br/>
	Data not available. <% if !Vendor.all.present? %> Please add vendor.<% end %>
	<br/><br/>
<% else %>
<br/><br/><br/>
<input type='text' placeholder='search here . . .' id='search'>
<br/>
<p id="notice"><%= notice %></p>
<table id='searchTable'>
  <tr>
    <th>Vendor</th>
    <th>Services</th>
    <th>Projects</th>
    <th>Action</th>
  </tr>
  
  <% @vendors.each do |vendor| %>
  <tr>
    <td valign="top"><%= vendor.name %></td>
    <td valign="top">
	<% @services.where(:vendor_id => vendor.id).each do |service| %>
		<%= service.name %><br/><br/>
	<% end %>
	</td>
	<td valign="top">
	<% @services.where(:vendor_id => vendor.id).each do |service| %>
		<% if Project.where(:vendor_id => vendor.id).present? %>
			<% Project.where(:vendor_id => vendor.id).each do |project| %>
				<% project.services_ids.each do |service_id| %>
					<% if service_id.to_i == service.id.to_i %>
						<%= link_to project.name, project, :data => { :colorbox => true, :colorbox_width => '300px' }, class: "link-btn" , :title => "View Project Details" %><br/><br/>
					<% else  %>
						Not assigned<br/><br/>
					<% end  %>					
				<% end %>
			<% end  %>
		<% else  %>
			Not assigned<br/><br/>
		<% end  %>
	<% end  %>
	</td>
	<td valign="top">
	<% @services.where(:vendor_id => vendor.id).each do |service| %>		
		<% if current_user.id==Vendor.find(service.vendor_id).user_id %>
			<% Project.where(:vendor_id => vendor.id).each do |project| %>
				<% project.services_ids.each do |service_id| %>
					<% if service_id.to_i != service.id.to_i %>
						<%= link_to image_tag("/assets/icons/edit.png"), edit_service_path(service), :data => { :colorbox => true }, class: "link-btn", :data => { :colorbox => true, :colorbox_height =>'400px', :colorbox_width =>'400px'} %>
						<%= link_to image_tag("/assets/icons/delete.png"), service, method: :delete, data: { confirm: 'Are you sure?' }, class: "link-btn" %><br/>
					<% end %>
				<% end %>
			<% end  %>
			<% if !Project.where(:vendor_id => vendor.id).present? %>
				<%= link_to image_tag("/assets/icons/edit.png"), edit_service_path(service), :data => { :colorbox => true }, class: "link-btn", :data => { :colorbox => true, :colorbox_height =>'400px', :colorbox_width =>'400px'} %>
				<%= link_to image_tag("/assets/icons/delete.png"), service, method: :delete, data: { confirm: 'Are you sure?' }, class: "link-btn" %><br/>
			<% end %>
		<% end %>	
	<% end  %>
    <% end  %>
</td>
</tr>
  </table>
<div align="right"><%= will_paginate @services %></div>

<% end  %>


