<span class="tag-title">User List <%= link_to image_tag("/assets/icons/add.png"), new_admin_path, :data => { :colorbox => true, :colorbox_height => '380px' , :colorbox_width => '310px' }, class: "link-btn" %></span>
<p class='notice'><%= notice %></p>
<br/>
<input type='text' placeholder='search here . . .' id='search'> 
<br/>
<table id='searchTable'>
  <tr align='right'><td><%= will_paginate @users %></td></tr>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th colspan='3'>Actions</th>
  </tr>
  
<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= link_to image_tag("/assets/icons/view.png"), "/admin/#{user.id}", :data => { :colorbox => true, :colorbox_width => '300px' }, class: "link-btn" , :title => "View User Details" %></td>
    <td><%= link_to image_tag("/assets/icons/edit.png"), "/admin/#{user.id}/edit", :data => { :colorbox => true, :colorbox_height => '380px' , :colorbox_width => '310px' }, class: "link-btn" , :title => "Edit User Details" %></td>
    <td><%= link_to image_tag("/assets/icons/delete.png"), "/admin/#{user.id}",  method: "delete", data: { confirm: 'It will destroy every data related to this user. Are you sure?' }, class: "link-btn" , :title => "Delete User" %></td>
  </tr>
  
<% end %>
</table>

<br />