<h1>New user</h1>

<%= form_for @user, url: {action: "create"} do |f| %>
  <div class="field">
    <%= f.label :name %><font color=red>*</font><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><font color=red>*</font><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :contact_number %><font color=red>*</font><br />
    <%= f.text_field :contact_number %>
  </div>
  <div class="field">
    <%= f.hidden_field :password, {:value => '123456789'} %>
  </div>
  <div class="field">
    <%= f.hidden_field :password_confirmation, {:value => '123456789'} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>