<h1>New user</h1>

<%= form_for @user, url: {action: "create"} do |f| %>
  <div class="field">
    <%= f.label :name %><font color=red>*</font><br />
    <%= f.text_field :name, :id=> "user_name" %>
    <br/><span id="user_name_error" style="display:none;"></span>
    <font color="red" size="1"><%= @user.errors[:name].first %></font>
  </div>
  <div class="field">
    <%= f.label :email %><font color=red>*</font><br />
    <%= f.text_field :email, :id=> "user_email" %>
    <br/><span id="user_email_error" style="display:none;"></span>
    <font color="red" size="1"><%= @user.errors[:email].first %></font>
  </div>
  <div class="field">
    <%= f.label :contact_number %><font color=red>*</font><br />
    <%= f.text_field :contact_number, :id=> "user_contact_number" %>
    <br/><span id="user_contact_number_error" style="display:none;"></span>
    <font color="red" size="1"><%= @user.errors[:contact_number].first %></font>
  </div>
  <div class="field">
    <%= f.hidden_field :password, {:value => 'VMS_USER'} %>
  </div>
  <div class="field">
    <%= f.hidden_field :password_confirmation, {:value => 'VMS_USER'} %>
  </div>
  <div class="actions">
    <%= f.submit "Create User" , :onclick => "return validate_add_user();" %>
  </div>
<% end %>