<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Contact Number:</b>
  <%= @user.contact_number %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Created Date:</b>
  <%= @user.created_at.strftime("%d %B %Y , %I:%M %p") %>
</p>