<%= form_for @user, url: {action: "update"} do |f| %>
  
  <div><%= f.label :Name %><br />
  <%= f.text_field :name, :autofocus => true ,:value=>current_user.name %></div>  

  <div><%= f.label :Contact %><br />
  <%= f.text_field :contact_number, :autofocus => true,:value=>current_user.contact_number %></div>

 <div><%= f.submit "Update" %></div>
 <% end %>
