
<span class="tag-title">Invitaitons</span>
<%if !@invitations.present? %>
	<br/><br/><br/>
	Data not available
	<br/><br/><br/>
<% else %>

<br/><br/>
<input type='text' placeholder='search here . . .' id='search'>
<br/><br/>
  <table id='searchTable'>
  <tr>
	  <th>Project</th>
	  <th>Vendor</th>
	  <th>Services</th>
	  <th>Inviter</th>
	  <th>Invitee</th>
	  <th>Sent At</th>
  <tr>
  	<% @invitations.each do |invitation| %>
  <tr>
	<td><%= Project.find(invitation.project_id).name %></td>
	<td><%= Vendor.find(invitation.vendor_id).name %></td>
	<td>
		<% Project.where(:id =>invitation.project_id, :vendor_id=>invitation.vendor_id).each do |project| %>
			<% project.services_ids.each do |service_id| %>
				<%= Service.find(service_id).name %><br/>
			<% end %>
		<% end %>	
	</td>
	<td><%= User.find(invitation.inviter_id).name %></td>
	<td><%= User.find(invitation.invitee_id).name %></td>
	<td><%= invitation.invitation_sent_at.strftime("%d %B %Y , %I:%M %p") %></td>
  </tr>
<% end %>
</table>
<% end %>