  <script language="javascript" type="text/javascript">
	$(document).ready(function() {
		$('#search').keyup(function() {
		    searchTable($(this).val());
		});
	}); 
   </script>
<span class="tag-title">Invitaitons</span>
<%if !@invitations.present? %>
	<br/><br/><br/>
	Data not available
	<br/><br/><br/>
<% end %>
<% @invitations.each do |invitation| %>
<br/><br/>
<input type='text' placeholder='search here . . .' id='search'>
<br/><br/>
  <table id='searchTable'>
  <tr>
	  <th>Project</th>
	  <th>Vendor</th>
	  <th>Services</th>
	  <th>Inviter</th>
	  <th>Invitee</th>
	  <th>Sent At</th>
  <tr>
  <tr>
	<td><%= Project.find(invitation.project_id).name %></td>
	<td><%= Vendor.find(invitation.vendor_id).name %></td>
	<td>
		<% Service.where(:vendor_id => invitation.vendor_id).each do |service| %>
			<%= service.name %><br/>
		<% end %>
	
	</td>
	<td><%= User.find(invitation.inviter_id).name %></td>
	<td><%= User.find(invitation.invitee_id).name %></td>
	<td><%= invitation.invitation_sent_at %></td>
  </tr>
<% end %>
</table>