<%= form_for(@project) do |f| %>
  <div class="field">
    <%= f.label "Enter Project Name" %><br /><br />
    <%= f.text_field :name, :id=> "project_name" %>
    <br/><span id="project_name_error" style="display:none;"></span>
    <font color="red" size="1"><%= @project.errors[:name].first %></font>
  </div>
  <div class="actions">
    <%= f.submit "Create Project", :onclick => "return validate_project();" %>
  </div>
<% end %>


