  <script language="javascript" type="text/javascript">
	    $(document).ready(function() {
		    $('#search').keyup(function() {
			    searchTable($(this).val());
		    });
	    }); 

	function showServices(vendor_id) {
		 $.get( "service/"+vendor_id+"/"+<%="#{@project.id}"%>, function( data ) {
                    $("#"+vendor_id).append(data);
                });
	}
	
	reloadCode();

	function showServicesList() {
	    window.location.hash = "triggerReloadCode";
	    window.location.reload();
	}

	function reloadCode() {
	    if (window.location.hash.substr(1) == "triggerReloadCode") {
		window.location.hash = "";
		<% @vendors.each do |vendor|%>
			$.get( "service/"+<%= "#{vendor.id}" %>+"/"+<%="#{@project.id}"%>, function( data ) {
				$("#"+<%= "#{vendor.id}" %>).append(data);
			});
		<% end %>
	    }
	    $("#serviceList").hide();
	}
	
	
 </script>

	<h5>Please choose vendor and services for <b><%= @project.name %></b></h5>

<input type='text' placeholder='search here . . .' id='search'> 
<%= link_to "Search for Service", '#', :onclick => "showServicesList()" , :id=> "serviceList" %>
 <table id='searchTable'>
  <tr>
    <th>Vendor List</th>
  </tr>
<% @vendors.each do |vendor| %>
  <tr>
    <td><%= link_to vendor.name, '#showService', :onclick => "showServices(#{vendor.id})" %><a name='showService'></a><div id=<%= "#{vendor.id}" %>></div></td>
  </tr>
<% end %>
</table>
<div id='check'></div>
<a name='check'></a>

<br/>
<%= link_to 'Back', projects_path %>






