
<span class="tag-title">Projects <%= link_to image_tag("/assets/icons/add.png"), new_project_path, :data => { :colorbox => true, :colorbox_width => '400px', :colorbox_height => '200px' }, class: "link-btn" %></span>
<% if @empty_project %>
	<br/><br/><br/>
	<%= "Data not available" %>
	<br/><br/><br/>
<% else %>

<p class='notice'><%= notice %></p>
<br/><br/>
<input type='text' placeholder='search here . . .' id='search'> 
<% end %>
<%= link_to "Show active only", "/project/status/1?s=1" %>
<%= link_to "Show inactive only", "/project/status/0?s=0" %>
<%= link_to "Show All", "/projects"%>

<% if !@empty_project %>
<table id='searchTable'>
  <tr align='right'><td><%= will_paginate @projects %></td></tr>
  <tr>
    <th align='left'>Project</th>
    <th>Status</th>
    <th>Assign</th>
    <th colspan='3'>Action</th>
  </tr>

<% @projects.each do |project| %>
   <% @check_vendor = false %>
   <% @check_user = false %>
   <% if project.vendor_id.present? %>
	<% @check_vendor = true %>
   <% end %>
   <% if project.user_id == current_user.id %>
	<% @check_user = true %>
   <% end %>
  <tr>
	<td><%= project.name %></td>
	<td>
		<% if project.status %>
			<%= link_to "Active", "/change/status/#{project.id}/false", data: { confirm: "Click ok, to make #{project.name} inactive ?" } %>
		<% else %>
			<%= link_to "Inactive", "/change/status/#{project.id}/true", data: { confirm: "Click ok, to make #{project.name} active ?" } %>
		<% end %>
	</td>
	<td>
		<% if !@check_vendor %>
			<%= link_to_if project.status , "Assign Project",  assign_path(project), :title => "Asign Project" %>
		<% else %>
			Project already assigned
		<% end %>
	</td>
	<td>
		<% if project.vendor_id.present? %>
			<%= link_to image_tag("/assets/icons/view.png"), project, :data => { :colorbox => true, :colorbox_width => '300px' }, class: "link-btn" , :title => "View Project Details" %>
		<% end %>   
		
		<% if project.user_id == current_user.id && !@check_vendor %>
			<%= link_to image_tag("/assets/icons/delete.png"), project, method: :delete, data: { confirm: 'Are you sure?' }, class: "link-btn" , :title => "Delete Project" %>		
		<% end %>
	</td>
  </tr>
<% end %>
</table>
<br />

<% end %>








