  <script language="javascript" type="text/javascript">
	    $(document).ready(function() {
		    $('#search').keyup(function() {
			    searchTable($(this).val());
		    });
	    }); 
	    
	    function searchTable(inputVal) {
		var table = $('#searchTable');
		table.find('tr').each(function(index, row) {
				var allCells = $(row).find('td');
				if (allCells.length > 0) {
						var found = false;
						allCells.each(function(index, td) {
								var regExp = new RegExp(inputVal, 'i');
								if (regExp.test($(td).text())) {
										found = true;
										return false;
								}
						});
						if (found == true)
								$(row).show();
						else
								$(row).hide();
				}
		});
	}

	$( document ).ready(function() {		
		$("#create_project").click(function() {			
			$("#create_project").hide().after("<%= j render('form') %>")
		});
	});	
</script>

<h1>Projects List</h1>
<input type='text' placeholder='search here . . .' id='search'>
<table id='searchTable'>
  <tr align='right'><td><%= will_paginate @projects %></td></tr>
  <tr>
    <th>Project Name</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
   <% @check_vendor = false %>
   <% @check_user = false %>
   <% if project.vendor_id.present? %>
	<% @check_vendor = true %>
   <% end %>
   <% if project.user_id == current_user.id %>
	<% @check_user = true %>
   <% end %>
  <tr>
    <td><%= project.name %></td>
    <td><%= link_to_if !@check_vendor, 'Assign Project', assign_path(project) %></td>
    <td><%= link_to_if @check_vendor, 'Show', project  %></td>
    <td><%= link_to_if @check_user, 'Edit', edit_project_path(project) %></td>
    <td><%= link_to_if @check_user, 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />

<a href="#" id="create_project">Create New Project</a>

<div id="show_create_project"></div>




