  <script language="javascript" type="text/javascript">
	    $(document).ready(function() {
		    $('#search').keyup(function() {
			    searchTable($(this).val());
		    });
	    }); 
</script>

<span class="tag-title">Projects <%= link_to image_tag("/assets/icons/add.png"), new_project_path, :data => { :colorbox => true }, class: "link-btn" %></span>
<p id="notice"><%= notice %></p>
<input type='text' placeholder='search here . . .' id='search'>
<table id='searchTable'>
  <tr align='right'><td><%= will_paginate @projects %></td></tr>
  <tr>
    <th><%= link_to "Project Name", :sort=>"name" %></th>
    <th></th>
    <th>Action</th>
  </tr>

<% @projects.each do |project| %>
   <% @check_vendor = false %>
   <% @check_user = false %>
   <% if project.vendor_id.present? %>
	<% @check_vendor = true %>
   <% end %>
   <% if project.user_id == current_user.id %>
	<% @check_user = true %>
   <% end %>
  <tr>
	<td><%= project.name %></td>
	<td><%= link_to_if !@check_vendor, 'Assign Project', assign_path(project) %></td>
	<td>
		<% if project.vendor_id.present? %>
			<%= link_to image_tag("/assets/icons/view.png"), project, :data => { :colorbox => true }, class: "link-btn" %>
		<% end %>   
		
		<% if project.user_id == current_user.id %>
			<%= link_to image_tag("/assets/icons/delete.png"), project, method: :delete, data: { confirm: 'Are you sure?' }, class: "link-btn" %>		
		<% end %>
	</td>
  </tr>
<% end %>
</table>
<br />

<div id="show_create_project"></div>
