<%= form_for(@vendor) do |f| %>
  <% if @vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

      <ul>
      <% @vendor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Vendor_Name %><br />
    <%= f.text_field :name %>
    <span id='vendor_name_error' style="display:none;"><font color="red" size="1">  <br>Please enter a name for the vendor</font></span>
	<font color="red" size="1"><%= @vendor.errors[:name].first %></font>
  </div>
  <div class="field">
    <%= f.label :Email %><br />
    <%= f.text_field :email %>
    <span id='vendor_email_error' style="display:none;"><font color="red" size="1">  <br>Please enter a email for the vendor</font></span>
		<font color="red" size="1"><%= @vendor.errors[:email].first %></font>
  </div>
  <div id='TextBoxesGroup'>
	<div id="TextBoxDiv1">
		<label>Service #1 : </label><input type='textbox' id='textbox1' name="services[service1]" >
	</div>
  </div>
  <input type='button' value='Add Service' id='addButton'>
  <input type='button' value='Remove Service' id='removeButton'>
  <div class="field">
    <%= f.label :Phone %><br />
    <%= f.text_field :contact_no %>
  </div>
  <div class="field">
    <%= f.label :Address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
 
$(document).ready(function(){
 
    var counter = 2;
 
    $("#addButton").click(function () {
 	if(counter>10){
            alert("Only 10 textboxes allow");
            return false;
	}   
 	var newTextBoxDiv = $(document.createElement('div'))
	     .attr("id", 'TextBoxDiv' + counter);
 	newTextBoxDiv.after().html('<label>Service #'+ counter + ' : </label>' +
	      '<input type="text" name="services[service' + counter + 
	      ']" id="textbox' + counter + '" value="" >');
 
	newTextBoxDiv.appendTo("#TextBoxesGroup");
	counter++;
     });
 
     $("#removeButton").click(function () {
	if(counter==1){
          alert("No more textbox to remove");
          return false;
       }   
 	counter--;
         $("#TextBoxDiv" + counter).remove();
 
     });
 
  });
$('.actions').on('click',function() {
	if (($("#vendor_name").val() == '' || $("#vendor_name").val() == null) && ($("#vendor_email").val() == '' || $("#vendor_email").val() == null))
	{
		$("#vendor_name_error").show();
		$("#vendor_email_error").show();
		return false;
	}
	else if ($("#vendor_email").val() == '' || $("#vendor_email").val() == null)
	{
		$("#vendor_email_error").show();
		$("#vendor_name_error").hide();
		return false;
	}
	else if ($("#vendor_name").val() == '' || $("#vendor_name").val() == null)
	{
		$("#vendor_name_error").show();
		$("#vendor_email_error").hide();
		return false;
	}
	return true;  
});


</script>
