<%= form_for(@vendor) do |f| %>
  <% if @vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

      <ul>
      <% @vendor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Vendor_Name %><font color="red"> *</font><br />
    <%= f.text_field :name %>
    <span id='vendor_name_error' style="display:none;"><font color="red" size="1">  <br>Please enter a name for the vendor</font></span>
	<font color="red" size="1"><%= @vendor.errors[:name].first %></font>
  </div>
  <div class="field">
    <%= f.label :Email %><font color="red"> *</font><br />
    <%= f.text_field :email %>
    <span id='vendor_email_error' style="display:none;"><font color="red" size="1">  <br>Please enter a email for the vendor</font></span>
		<font color="red" size="1"><%= @vendor.errors[:email].first %></font>
    <span id='valid_email_error' style="display:none;"><font color="red" size="1"> <br>Please enter valid email</br></font></span>
    <br/><span id="valid_email_exists_error" style="display:none;"></span>
  </div>
  <div id='TextBoxesGroup'>
	<div id="TextBoxDiv1">
		<label>Service #1 : </label><input type='textbox' id='textbox1' name="services[service1]" >
	</div>
  </div>
  <input type='button' value='Add Service' id='addButton'>
  <input type='button' value='Remove Service' id='removeButton'>
  <div class="field">
    <%= f.label :Phone %><font color="red"> *</font><br />
    <%= f.text_field :contact_no %>
    <span id='vendor_contact_no_error' style="display:none;"><font color="red" size="1">  <br>Please enter a Contact Number</font></span>
  </div>
  <div class="field">
    <%= f.label :Address %><br />
    <%= f.text_area :address, :size => "30x10"  %>
  </div>
  <div class="actions">
  	<% if params[:action]=="new"%>
    	<%= f.submit "Create Vendor", :id=>"create_vendor"%>
    <% elsif params[:action]=="edit" %>
    	<%= f.submit "Update Vendor", :id=>"update_vendor"%>
    <% end %>
  </div>
<% end %>

<script type="text/javascript">
 
$(document).ready(function(){
 
    var counter = 2;
 
    $("#addButton").click(function () {
 	if(counter>10){
            alert("Only 10 textboxes allow");
            return false;
	}   
 	var newTextBoxDiv = $(document.createElement('div'))
	     .attr("id", 'TextBoxDiv' + counter);
 	newTextBoxDiv.after().html('<label>Service #'+ counter + ' : </label>' +
	      '<input type="text" name="services[service' + counter + 
	      ']" id="textbox' + counter + '" value="" >');
 
	newTextBoxDiv.appendTo("#TextBoxesGroup");
	counter++;
     });
 
     $("#removeButton").click(function () {
	if(counter==1){
          alert("No more textbox to remove");
          return false;
       }   
 	counter--;
         $("#TextBoxDiv" + counter).remove();
 
     });
 
  });

$('#create_vendor').on('click',function() {
	if (($("#vendor_name").val() == '' || $("#vendor_name").val() == null) && ($("#vendor_email").val() == '' || $("#vendor_email").val() == null) && ($("#vendor_contact_no").val() == '' || $("#vendor_contact_no").val() == null))
	{
		$("#vendor_name_error").show();
		$("#vendor_email_error").show();
		$("#vendor_contact_no_error").show();
		
		$("#valid_email_exists_error").hide();
		return false;
	}
	else if ($("#vendor_email").val() == '' || $("#vendor_email").val() == null)
	{
		$("#vendor_email_error").show();
		
		$("#vendor_name_error").hide();
		$("#valid_email_exists_error").hide();
		$("#vendor_contact_no_error").hide();
		return false;
	}
	else if ($("#vendor_name").val() == '' || $("#vendor_name").val() == null)
	{
		$("#vendor_name_error").show();
		
		$("#vendor_email_error").hide();
		$("#valid_email_exists_error").hide();
		$("#vendor_contact_no_error").hide();
		return false;
	}
	else if ($("#vendor_contact_no").val() == '' || $("#vendor_contact_no").val() == null)
	{
		$("#vendor_contact_no_error").show();
		
		$("#vendor_name_error").hide();
		$("#vendor_email_error").hide();
		$("#valid_email_exists_error").hide();
		$("#vendor_email_error").hide();
		return false;
	}
	else if (false == validate_email($("#vendor_email").val()))
	{
		$("#valid_email_error").show();
		
		$("#vendor_email_error").hide();
		$("#vendor_name_error").hide();
		$("#vendor_email_error").hide();
		$("#vendor_contact_no_error").hide();
		$("#valid_email_exists_error").hide();
		return false;
	}
	else if (validate_email_exists($("#vendor_email").val()))
	{	
		$("#valid_email_exists_error").show();
		$("#valid_email_exists_error").html("<font color='red' size='1'>"+validate_email_exists($("#vendor_email").val())+"</font>");
		
		$("#vendor_email_error").hide();
		$("#vendor_name_error").hide();
		$("#vendor_email_error").hide();
		$("#vendor_contact_no_error").hide();
		return false;
	}
    
	return true;  
});

$('#update_vendor').on('click',function() {
	if (($("#vendor_name").val() == '' || $("#vendor_name").val() == null) && ($("#vendor_email").val() == '' || $("#vendor_email").val() == null) && ($("#vendor_contact_no").val() == '' || $("#vendor_contact_no").val() == null))
	{
		$("#vendor_name_error").show();
		$("#vendor_email_error").show();
		$("#vendor_contact_no_error").show();
		
		$("#valid_email_exists_error").hide();
		return false;
	}
	else if ($("#vendor_email").val() == '' || $("#vendor_email").val() == null)
	{
		$("#vendor_email_error").show();
		
		$("#vendor_name_error").hide();
		$("#valid_email_exists_error").hide();
		$("#vendor_contact_no_error").hide();
		return false;
	}
	else if ($("#vendor_name").val() == '' || $("#vendor_name").val() == null)
	{
		$("#vendor_name_error").show();
		
		$("#vendor_email_error").hide();
		$("#valid_email_exists_error").hide();
		$("#vendor_contact_no_error").hide();
		return false;
	}
	else if ($("#vendor_contact_no").val() == '' || $("#vendor_contact_no").val() == null)
	{
		$("#vendor_contact_no_error").show();
		
		$("#vendor_name_error").hide();
		$("#vendor_email_error").hide();
		$("#valid_email_exists_error").hide();
		$("#vendor_email_error").hide();
		return false;
	}
	else if (false == validate_email($("#vendor_email").val()))
	{
		$("#valid_email_error").show();
		
		$("#vendor_email_error").hide();
		$("#vendor_name_error").hide();
		$("#vendor_email_error").hide();
		$("#vendor_contact_no_error").hide();
		$("#valid_email_exists_error").hide();
		return false;
	}
	/*else if (validate_email_exists($("#vendor_email").val()))
	{	
		$("#vendor_email_error").hide();		
		$("#valid_email_exists_error").show();
		$("#valid_email_exists_error").html("<font color='red' size='1'>"+validate_email_exists($("#vendor_email").val())+"</font>");
		return false;
	}*/

	return true;  
});

function validate_email(email)
{
	var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
	if(regex.test(email)==false)
		return false;
	else 
		return true;
}
</script>
