<h1>New vendor</h1>

<%= form_for(@vendor) do |f| %>
  <% if @vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

      <ul>
      <% @vendor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Vendor_Name %><font color="red"> *</font><br />
    <%= f.text_field :name %>
    <br/>
    <span class='error_span' id='vendor_name_error' style="display:none;"></span>
	<font color="red" size="1"><%= @vendor.errors[:name].first %></font>
  </div>
  <div class="field">
    <%= f.label :Email %><font color="red"> *</font><br />
    <%= f.text_field :email %>
    <br/>
    <span class='error_span' id='vendor_email_error' style="display:none;"></span>
		<font color="red" size="1"><%= @vendor.errors[:email].first %></font>
    <span class='error_span' id='valid_email_error' style="display:none;"></span>
    <br/><span class='error_span' id="valid_email_exists_error" style="display:none;"></span>
  </div>
  <div id='TextBoxesGroup'>
	<div id="TextBoxDiv1">
		<label>Service #1 : </label><input type='textbox' id='textbox1' name="services[service1]" >
	</div>
  </div>
  <input type='button' value='Add Service' id='addButton'>
  <input type='button' value='Remove Service' id='removeButton'>
  <div class="field">
    <%= f.label :Phone %><font color="red"> *</font><br />
    <%= f.text_field :contact_no %>
    <br/>
    <span class='error_span' id='vendor_contact_no_error' style="display:none;"></span>
  </div>
  <div class="field">
    <%= f.label :Address %><br />
    <%= f.text_area :address, :size => "30x10"  %>
  </div>
  <div class="actions">
    	<%= f.submit "Create Vendor", :onclick => "return validate_add_vendor();"%>
  </div>
<% end %>


<script type="text/javascript">
	function validate_add_vendor(){
		var error = 0;
		$("#vendor_name_error").html("");
		$("#vendor_email_error").html("");
		$("#vendor_contact_no_error").html("");		
		var email_regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
		
		
		$.ajax("vendor/validate/?vendor_email="+$("#vendor_email").val(), {
			async: false,
			success: function(result){
				if(result != "") {
					error = 1;
					$("#vendor_email_error").show();
					$("#vendor_email_error").html("<font color='red' size='1'>"+result+"</font>");
				}
			}
		});
		if($("#vendor_name").val() == '' || ($("#vendor_name").val() == null)){
			$("#vendor_name_error").show();
			$("#vendor_name_error").html("<font color='red' size='1'>Please enter a user name</font>");
			error = 1;
		}		
		if (!email_regex.test($("#vendor_email").val())){
			$("#vendor_email_error").show();
			$("#vendor_email_error").html("<font color='red' size='1'>Please enter a valid email id</font>");
			error = 1;
		}
				
		if($("#vendor_email").val() == '' || ($("#vendor_email").val() == null)){
			$("#vendor_email_error").show();
			$("#vendor_email_error").html("<font color='red' size='1'>Please enter an email id</font>");
			error = 1;
		}
		if($('#vendor_contact_no').val().length != 10 ){
			$("#vendor_contact_no_error").show();
			$("#vendor_contact_no_error").html("<font color='red' size='1'>Please enter a valid contact number</font>");
			error = 1;
		}
		if(!$('#vendor_contact_no').val().match(/^\d+/)){
			$("#vendor_contact_no_error").show();
			$("#vendor_contact_no_error").html("<font color='red' size='1'>Please enter a valid contact number</font>");
			error = 1;
		}
		if($("#vendor_contact_no").val() == '' || ($("#vendor_contact_no").val() == null)){
			$("#vendor_contact_no_error").show();
			$("#vendor_contact_no_error").html("<font color='red' size='1'>Please enter a contact number</font>");
			error = 1;
		}
		if (error == 1)
		{
		return false;
		}
		else
		{return true;}
	}
 
$(document).ready(function(){
 
    var counter = 2;
 
    $("#addButton").click(function () {
 	if(counter>10){
            alert("Only 10 textboxes allow");
            return false;
	}   
 	var newTextBoxDiv = $(document.createElement('div'))
	     .attr("id", 'TextBoxDiv' + counter);
 	newTextBoxDiv.after().html('<label>Service #'+ counter + ' : </label>' +
	      '<input type="text" name="services[service' + counter + 
	      ']" id="textbox' + counter + '" value="" >');
 
	newTextBoxDiv.appendTo("#TextBoxesGroup");
	counter++;
     });
 
     $("#removeButton").click(function () {
	if(counter==1){
          alert("No more textbox to remove");
          return false;
       }   
 	counter--;
         $("#TextBoxDiv" + counter).remove();
 
     });
 
  });
</script>
