<p id="notice"><%= notice %></p>

<p>
  <b>Vendor Name:</b>
  <%= @vendor.name %>
</p>

<p>
  <b>Services available:</b>
  <% @services.each do |service| %>
	<br/><%= service.name %>
<% end %>
  </p>

<p>
  <b>Email:</b>
  <%= @vendor.email %>
</p>

<p>
  <b>Contact Number:</b>
  <%= @vendor.contact_no %>
</p>

<p>
  <b>Address:</b>
  <%= @vendor.address %>
</p>
