<body>
<div id="container">
<div id="header">
	<h1><a href="/">VMS</a></h1>
	<div class="clear"></div>
</div>
<div id="nav" class='main_menu'>
	<ul id="menu1"> 
		<li class="start selected">
		<% if user_signed_in? %>
		<!--<li><a href="../">home</a></li>-->
		<% if User.find(current_user.id).role == "ADMIN" %>
		<li <%if(request.fullpath.include? '/admin') %>class="active"<%end%>><a href="../">home</a></li>
		<% end %>
		<li <%if(request.fullpath.include? '/vendors') %>class="active"<%end%>><a href="/vendors">vendors</a></li>
		<li><a href="/services" <%if(request.fullpath.include? '/services') %>class="active"<%end%>>services</a></li>
		<li><a href="/projects" <%if(request.fullpath.include? '/projects') %>class="active"<%end%>>projects</a></li>
		<li><a href="/home/show_invitations" <%if(request.fullpath.include? '/show_invitations') %> class="active"<%end%>>invitations</a></li>
	        <li id="sub" <% if(request.fullpath.include? "/edit") %>class="active"<% end%>><a href="#">Account settings</a>
		<ul>
		<li  id='sub'>
			<a href="/home/<%=current_user.id%>/edit" >Edit profile</a></li>
		<br><li id='sub'><%= link_to 'Change password', edit_user_registration_path, :class => 'navbar-link' %> </li>
		</ul>
		</li>
	        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
	      	<% else %>
		<!--<li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>-->
		<li>	<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
		<% end %>
</ul>
</div>
<div id="body">
	<div id="content">
	<p>
		
	</p>	
	</div>
	<div class="clear"></div>
</div>
