<body>
<div id="container">
<div id="header">
	<h1><a href="/">VMS</a></h1>
	<div class="clear"></div>
</div>
<div id="nav">
	<ul> 
		<li class="start selected">
		<% if user_signed_in? %>
		<!--<li><a href="../">home</a></li>-->
		<li <%if(request.fullpath.include? '/vendors') %>class="active"<%end%>><a href="/vendors">vendors</a></li>
		<li><a href="/services" <%if(request.fullpath.include? '/services') %>class="active"<%end%>>services</a></li>
		<li><a href="/projects" <%if(request.fullpath.include? '/projects') %>class="active"<%end%>>projects</a></li>
		<li <% if(request.fullpath.include? "/admin/") %>class="active"<% end%>>
		<a href="/admin/<%=current_user.id%>/edit" >Edit profile</a></li>
		<li <%if(request.fullpath=='/users/edit') %>class="active"<%end%>><%= link_to 'Change password', edit_user_registration_path, :class => 'navbar-link' %> </li>
	        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
	      	<% else %>
		<li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
		<li>	<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
		<% end %>
</ul>
</div>
<div id="body">
	<div id="content">
	<p>
		<!--<% if notice %>
		<p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
		  <p class="alert alert-danger"><%= alert %></p>
		<% end %>-->
		<!--<%= yield %>-->
	</p>	
	</div>
	<div class="clear"></div>
</div>
